*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 1200px;
    margin: 2rem auto; 
    font-family: Arial, Helvetica, sans-serif;
}
.site_header{  
    height: 140px;
    position: relative;
}
#logo{
    height: 71px ;
    border-right-color: #bababa83;
    border-right-width: 1px;
    border-right-style: solid;
    padding-right: 10px;
}
ul{
    position: absolute;
    bottom: 5px;
    left: 0;
}
li{
    display: inline;
    color: #BABABA;
    
}
/*Header*/
.preview{
    background-color: #CBBCB6;
    height: 500px;
    margin:30px 0;
    position: relative;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}
.preview_text{
    position: absolute;
    bottom: 90px;
    left: 70px;
    width: 630px;
    color: white;
} 
h1{
    font-size: xx-large;
}
.main_header{
    height: 85px;
    background-color: #ABCFE7;
}
.other_articles{
    background-color:#0386FF ;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.miniature{
    height: 540px;
    background-color: #ABCFE7;
    margin: 30px 0;
    float: left;
}
aside{
    width: 20%;
}
.center{
    width: 56%;
    margin-top: 30px;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: auto;
}
footer{
    height: 60px;
    background-color: #8801FE;
    margin:30px 0;
}